@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Suisse Screen';
  src: url('/fonts/SuisseScreen-Regular-WebTrial.woff2') format('woff2'),
       url('/fonts/SuisseScreen-Regular-WebTrial.woff') format('woff'),
       url('/fonts/SuisseScreen-Regular-WebTrial.ttf') format('truetype'),
       url('/fonts/SuisseScreen-Regular-WebTrial.eot') format('embedded-opentype');
  /* Additional font formats if necessary */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Suisse Screen';
  src: url('/fonts/SuisseScreen-Bold-WebTrial.woff2') format('woff2'),
       url('/fonts/SuisseScreen-Bold-WebTrial.woff') format('woff'),
       url('/fonts/SuisseScreen-Bold-WebTrial.ttf') format('truetype'),
       url('/fonts/SuisseScreen-Bold-WebTrial.eot') format('embedded-opentype');
  /* Additional font formats if necessary */
  font-weight: bold;
  font-style: bold;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.text-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    /*animation: rotation 40s infinite linear;*/
  }
  .text-ring [style*=--index] {
    font-size: calc(var(--font-size, 2) * 1rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:
      translate(-50%, -50%)
      rotate(calc(360deg / var(--total) * var(--index)))
      translateY(calc(var(--radius, 5) * -1ch));
  }